#upper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#input{
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#btn
{
    margin-top: 20px;
    height:35px;
    width:90px;
}
#btn2
{
    margin-top: 20px;
    height:35px;
    width:90px;
}
#lower
{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}